@import './dataTable.css';
@import './sidebar.css';

body {
  font-family: 'Inter', sans-serif !important;
}

.detail-table-header {
  color: #00000090;
  padding: 8px 0px;
}

.detail-table-cell {
  padding: 8px 0px;
}
