# Common binary paths
/bin/
/migration-manager
/migration-manager-worker
/migration-managerd
/cmd/migration-manager/migration-manager
/cmd/migration-manager-worker/migration-manager-worker
/cmd/migration-managerd/migration-managerd

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Editor temp files
*.swp

# Go workspace file
go.work
go.work.sum

# env file
.env

# Goreleaser releases
dist/

# UI(js) files
node_modules/

.envrc
/tmp
